name: "Release Drafter"

on:
  push:
    # branches:
    #   - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  # required for autolabeler
  pull_request:
    branches:
      - main
    types: [opened, reopened, synchronize]

# The default contents permission should be read outside of the update_release_draft job
permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # used by GitVersion to find the most recent tag outside of this branch

      - name: Get version
        uses: reecetech/version-increment@2024.10.1
        id: version
        with:
          scheme: semver
          increment: patch

      # (Optional) GitHub Enterprise requires GHE_HOST variable set
      #- name: Set GHE_HOST
      #  run: |
      #    echo "GHE_HOST=${GITHUB_SERVER_URL##https:\/\/}" >> $GITHUB_ENV

      - uses: release-drafter/release-drafter@v6
        with:
          version: ${{ steps.version.outputs.current-version }}
          # disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
